*{margin:0;padding:0}
html{max-width: 1200px;margin-left:auto;margin-right:auto;font-family:"Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma,
    "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1.1em}
body{background-color:rgba(255,255,255,0.7)}

@media screen
{
    html{background: url(/gredos.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
}
p{padding:0.5em}
ol{padding-left:2em}
a.headerlink{visibility:hidden}
textarea{width:99%;height:26em}

/* Responsive design */
img.resize{width:100%;height:auto}
.logo{display:block;margin-left:auto;margin-right:auto;width:100%;height:auto}

/* :after to adjust height automatically */
.wrapper::after{content:".";display:block;height:0;clear:both;visibility:hidden}

nav{font-size:0.9em;padding:1em}
nav span{padding-left: 1em}
nav .buttons ul{display:flex;flex-direction:column}
nav ul li, .buttons ul li{list-style:none;flex-grow:1;color:#8A7581;width:14em;line-height:2em}
nav ul li a, .buttons ul li a{color:#4C3441;text-decoration:none;display:block;padding-left:1em}
nav ul li a:hover, .buttons ul li a:hover, .delete_button a:hover{background-color:#858E98;color:white;}

.language{grid-column-start:1;grid-column-end:3;text-align:right;font-size:.8em;background-color:rgba(255,255,255,0.7)}
.language a{text-decoration:none;color:grey}

.right_col ul{margin-left:2em}
.right_col ul::after{content:".";display:block;height:1em;clear:both;visibility:hidden}
.right_col ul li{color:#8A7581;line-height:2em}
.right_col ul li a{color:#4C3441;text-decoration:none;padding-left:1em}
.right_col ul li a:hover{background-color:#858E98;color:white}
.right_col_img{width:99%;}

#image_mask{width:90%;margin-left:auto;margin-right:auto;display:none;overflow:hidden}
#image_mask h1{color:white;text-shadow:black 0.0625em 0.0625em 0.0625em;font-size:1.5em}

#image_div{width:200%;margin-left:0em;
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    -moz-transform: translateZ(0); /* Mozilla */
    transform: translateZ(0);}
#image_left{width:49.5%;float:left;vertical-align:middle}
#image_right{width:49.5%;float:right;vertical-align:middle}

.footer, .under_footer{background-color:rgba(100,100,100,0.6);font-size:0.75em}
.footer_item{text-align:center;margin:.5em 1em .5em 1em}
.footer_item a{text-decoration:none}
.under_footer{text-align:center}

#cookie_warning{display:none;grid-column-start:1;grid-column-end:3}
#cookie_warning{width:100%;background-color:rgba(184,191,197,0.7);line-height:2em;text-align:right}

.wrap_release{width:100%;height:1.5em}
.release{float:right;padding-right:1em}

.properties{float:left}
.properties::after{content:".";display:block;height:1em;clear:both;visibility:hidden}

.table{display:table;width:98%}
.tr_odd, .tr_even{display:table-row;width:auto;clear:both}
.tr_odd{background:beige}
.tr_even{background:ivory}
.td{float:left;display:table-column}

.buttons{font-size:0.9em;clear:both}
.buttons ul{margin-left:0em;background:beige}
.buttons ul li a{border-radius:12px;border:2px solid #517EBF;width:6em;text-align:center;padding:initial;}
.delete_button a{border-radius:12px;border:2px solid #517EBF;text-decoration:none}

.page-title, .breadcrumbs{color:#660000;line-height:2em}
.breadcrumbs::after{content:".";display:block;height:1em;clear:both;visibility:hidden}
#mainContent a{color: #660000;text-decoration: none;border-bottom: dotted 1px #660000}

#morecheck{outline:none}
#morecheck:checked + div {display: none;}
#infomsg ul{padding-left:1em}

#saved{margin-left:auto;margin-right:auto;background-color:#dbdb7d;position:absolute}

.version{color: #3F4750;text-align: right;font-size: x-small;}

.breadcrumb li{display:inline}

@media screen and (min-width:750px)
{
    body{display:grid;grid-template-rows:1fr auto;height:100vh}
    nav{position:absolute}
    .wrapper{display:grid;grid-template-columns:1fr 4fr;overflow:auto;min-height:40em}
    .right_col{grid-column-start:2}

    #image_mask{width:60%;float:right;margin:.5em}
    #image_mask h1{left:1em;position:relative;z-index:1;font-size:2.25em}
    #image_div{top:-2.5em;position:relative}

    .footer{display:grid;grid-template-columns:repeat(7, 1fr)}

    .buttons ul{flex-direction:row}
    .buttons ul li{width:30em}
    .buttons ul li a{display:inline-block}
    .td{width:15em;padding-right:1em}
    .td_property{width:50em;margin-left:1em;margin-top:1em}
    .td_property .tr_odd{background:azure}
    .td_property .tr_even{background:burlywood}
}
