<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Schema Generator"/>
        <meta name="robots" content="index, follow"/>
        <link type="image/png" rel="icon" href="/Favicon.png"/>
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href="/gen_style.css" />
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/schema.js"></script>
    </head>
    <body onload="javascript:onLoad('{buttons}');">
        <a class="logo_link" href="/">
            <img src="/logo_gen.png" alt="schema.org &lt;Generator&gt;" title="schema.org &lt;Generator&gt;" class="logo"/>
        </a>
        <div class="wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="http://polak.es/gen_help/index.html" target="_blank">Online help <img src="/external_link.png" alt="external link" title="external link" /></a>
                    </li>
                    <li id="SaveButton" style="display:none">
                        <a href="javascript:SaveSchema();">Save Schema</a>
                    </li>
                    <li id="GenerateButton" style="display:none">
                        <span>Generate</span>
                        <a href="javascript:GenerateSchema('Microdata');">&nbsp;&nbsp;&nbsp;&nbsp;Microdata</a>
                        <a href="javascript:GenerateSchema('RDFa');">&nbsp;&nbsp;&nbsp;&nbsp;RDFa</a>
                        <a href="javascript:GenerateSchema('JSON');">&nbsp;&nbsp;&nbsp;&nbsp;JSON-LD</a>
                    </li>
                    <li id="RecoveryButton" style="display:none">
                        <a href="javascript:RecoverData();">Recover Data</a>
                    </li>
                    <li id="ClearButton" style="display:none">
                        <a href="javascript:ClearData();">Clear Data</a>
                    </li>
                    <li>
                        <a href="http://schema.org/" target="_blank">Schema.org <img src="/external_link.png" alt="external link" title="external link" /></a>
                    </li>
                    <li>
                        <a href="http://polak.es/en/generator.html" target="_blank">About <img src="/external_link.png" alt="external link" title="external link" /></a>
                    </li>
                </ul>
            </nav>
            <div class="right_col" id="right_col">
                <form method="POST" action="/GenerateSchema">
                    {form}
                </form>
                <br />
            </div>
            <div class="org_right_col">
            {output}
            </div>
        <noscript>Your browser does not support JavaScript!</noscript>
        </div>
    </body>
</html>
