<!-- Header start from basicPageHeader.tpl -->
<h1 class="org_sitename">
    schema.org
</h1>
<div class="org_selectionbar">
    <ul>
        <li>
            <a href="http://schema.org/" target="_blank">Schema.org <img src="/external_link.png" alt="external link" title="external link" /></a>
        </li>
        <li>
            <a href="http://schema.org/docs/schemas.html" target="_blank">Schemas <img src="/external_link.png" alt="external link" title="external link" /></a>
        </li>
        <li>
            <a href="http://schema.org/docs/documents.html" target="_blank">Documentation <img src="/external_link.png" alt="external link" title="external link" /></a>
        </li>
    </ul>
</div>
<!-- Header end from basicPageHeader.tpl -->
