<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Schema Generator Bot"/>
        <meta name="robots" content="index, follow"/>
        <link type="image/png" rel="icon" href="/favicon.ico"/>
        <title>SchemaBot</title>
        <link rel="stylesheet" type="text/css" href="/gen_style.css" />
        <script type="text/javascript" src="/schema_bot.js"></script>
    </head>
    <body onload="javascript:onLoad();">
        <a class="logo_link" href="/">
            <img src="/logo_gen.png" alt="schema.org &lt;Generator&gt;" title="schema.org &lt;Generator&gt;" class="logo"/>
        </a>
        <div class="wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="http://polak.es/gen_help/index.html" target="_blank">Online help <img src="/external_link.png" alt="external link" title="external link" /></a>
                    </li>
                    <li>
                        <a href="http://polak.es/en/generator.html" target="_blank">About <img src="/external_link.png" alt="external link" title="external link" /></a>
                    </li>
                </ul>
            </nav>
            <div class="right_col" id="right_col">
                <h1>Schema Bot</h1>
                <p>Updating the schema version.</p>
                <p id="result">Just a second...</p>
            </div>
        <noscript>Your browser does not support JavaScript!</noscript>
        </div>
    </body>
</html>
